## **Univariate Statistical Measures**

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_excel("demo.xlsx")
data

    age
0    10
1    23
2    14
3     6
4    23
5     9
6    55
7    32
8    12
9     6
10   10

## 1. Measures of central tendency

### 1.1 Mean
- Average
- It is represented by, **Σx** (if column name is x)
- mean = sum of values/ total no. of values
- used with continous variable only
- population mean => µ => **µx = Σx / N** (if column name is x)
- sample mean => **x̅ = Σx / n** (if column name is x)

In [4]:
mean = data['age'].mean()
print(mean)

18.181818181818183

In [5]:
# mean() working
mean=data['age'].sum()/len(data)
print(mean)
                # if column have any null or empty value then it will be ignored.

18.181818181818183

### 1.2 Median
- Center value
- In odd nos, center position value.
- In even nos, average of two center values

In [6]:
median = data['age'].median()
print(median)   # column will be sorted first then median will applied.
                # if column have any null or empty value then it will be ignored.

12.0

### 1.3 Mode
- most frequent value
- the value which is repeated most number of time.
- if column have 1 repeated value then it is called uni-modal data
- if column have 2 repeated values then it is called bi-variate data
- if column have more than 2 repated values then it is called multi-modal data

In [7]:
mode = data['age'].mode()
print(mode) # it is multi-modal data

0     6
1    10
2    23
Name: age, dtype: int64

In [8]:
data['age'].mode()[1]

np.int64(10)

In [10]:
print(data['age'].var(ddof=0))

196.69421487603302