## 2D PANDAS DATAFRAMES
- 2D dataframes = means more than 1 columns

### **1.1 Creation**
1. list of lists
2. 2D array
3. dictionary
4. transpose
5. missing value

In [39]:
import  numpy as np
import pandas as pd

In [40]:
# from list of lists ----- items will store in rows
l=[[10,20,30],[40,50,60]]
df=pd.DataFrame(l)
print(df)

    0   1   2
0  10  20  30
1  40  50  60

In [41]:
# from 2D array
a=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(a, columns=['c1','c2','c3'] , index=['r1','r2'])
print(df)

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [42]:
# using Dictionary ----- items will store as column
d={'x':[1,2,3],'y':[4,5,6],'z':[7,8,9]}
df=pd.DataFrame(d)
print(df)

   x  y  z
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
# transpose ----- rows to columns or columns to rows
l=[[10,20,30],[40,50,60]]
df=pd.DataFrame(l)
df.T

    0   1
0  10  40
1  20  50
2  30  60

In [ ]:
# missing value ----- np.nan 

l=[[1,np.nan,2],[4,5,6],[7,'sam',9]]
df=pd.DataFrame(l)
print(df)
x=df.isnull()
print(x)

   0    1  2
0  1  NaN  2
1  4    5  6
2  7  sam  9
       0      1      2
0  False   True  False
1  False  False  False
2  False  False  False

### **1.2 Extraction**
1. Single value
2. Single row
3. Single column
4. Multiple row
    1. pattern
    2. no pattern
5. Multiple column
    1. pattern
    2. no pattern
6. reverse printing row/column
7. Multiple row and multiple column

In [45]:
import pandas as pd
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]], index=['r1','r2','r3'] , columns=['c1','c2','c3'])
print(df)

    c1  c2  c3
r1  10  20  30
r2  40  50  60
r3  70  80  90

In [46]:
# 1.single value
print(df.iloc[0,2])
print(df.loc['r1','c3'])

30
30

In [47]:
# 2.single row
# 2.1
print(df.iloc[1,:])
# 2.2 
print(df.loc['r3']) 


# 3.single column
# 3.1
print(df.iloc[:,2])
# 3.2
print(df['c2']) # always write column name as it is dataframe == columns

c1    40
c2    50
c3    60
Name: r2, dtype: int64
c1    70
c2    80
c3    90
Name: r3, dtype: int64
r1    30
r2    60
r3    90
Name: c3, dtype: int64
r1    20
r2    50
r3    80
Name: c2, dtype: int64

In [48]:
# slicing

# 4.1 multiple row
print(df.iloc[0:2,:]) # here 0 is included and 2 is not thats why it returns r1 and r2
print(df.loc['r1':'r2',:])

# 5.1 multiple column
print(df.iloc[:,0:1])
print(df.loc[:,'c1':'c2'])

    c1  c2  c3
r1  10  20  30
r2  40  50  60
    c1  c2  c3
r1  10  20  30
r2  40  50  60
    c1
r1  10
r2  40
r3  70
    c1  c2
r1  10  20
r2  40  50
r3  70  80

In [49]:
# indexing

# 4.2 multiple row
print(df.iloc[[1,2], : ])
print(df.loc[['r2','r3'],:])

# 5.2 multiple column
print(df.iloc[:,[1,2]])
print(df.loc[:,['c2','c3']])

    c1  c2  c3
r2  40  50  60
r3  70  80  90
    c1  c2  c3
r2  40  50  60
r3  70  80  90
    c2  c3
r1  20  30
r2  50  60
r3  80  90
    c2  c3
r1  20  30
r2  50  60
r3  80  90

In [50]:
# 6.1 reverse printing row
print(df.iloc[::-1,1])

# 6.2 reverse printing column
print(df.iloc[0,::-1])

r3    80
r2    50
r1    20
Name: c2, dtype: int64
c3    30
c2    20
c1    10
Name: r1, dtype: int64

In [51]:
# 7.multiple row and multiple column

print(df.iloc[[1,2],[0,1]])

    c1  c2
r2  40  50
r3  70  80

### **1.3 Modification**